[project]
	description = JOS: Course Design of Operating System
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Thomas Conlin (Pylonight)
[access "refs/for/refs/*"]
	read = group user/Thomas Conlin (Pylonight)
	push = group user/Thomas Conlin (Pylonight)
	label-Code-Review = -2..+2 group user/Thomas Conlin (Pylonight)
	label-Verified = -1..+1 group user/Thomas Conlin (Pylonight)
	rebase = group user/Thomas Conlin (Pylonight)
	removeReviewer = group user/Thomas Conlin (Pylonight)
	submit = group user/Thomas Conlin (Pylonight)
[access "refs/heads/*"]
	read = group user/Thomas Conlin (Pylonight)
	create = group user/Thomas Conlin (Pylonight)
	push = +force group user/Thomas Conlin (Pylonight)
	pushMerge = group user/Thomas Conlin (Pylonight)
[access "refs/tags/*"]
	push = +force group user/Thomas Conlin (Pylonight)
	pushTag = group user/Thomas Conlin (Pylonight)
	pushSignedTag = group user/Thomas Conlin (Pylonight)
